.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.toolbar-logo {
  width: 48px;
  height: 48px;
}

.toolbar-item {
  opacity: .77;
}

.md-select-icon {
  display: none;
}

.md-select-label *:first-child {
  max-width: 100%;
}

.flip {
  float: left;
  overflow: hidden
}

.flipBasic {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
}

.flipHideBack {
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
}

.flipHideFront {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  transform: perspective(800px) rotateY(-180deg);
}
