.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.toolbar-logo {
  width: 48px;
  height: 48px;
}

.toolbar-item {
  opacity: .77;
}

.button-menu {
  box-sizing: border-box;
  position: fixed;
  white-space: nowrap;
  margin: 15px;
  z-index: 99;
  right: 0;
  bottom: 0;
}

.flip {
  float: left;
  overflow: hidden
}

.flipBasic {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
}

.flipHideBack {
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
}

.flipHideFront {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  transform: perspective(800px) rotateY(-180deg);
}

.ghost {
  opacity: 0.2;
}

.sortable-list-icon {
  width: 24px;
  height: 24px;
}

.pointer {
  cursor: pointer;
}

.userCtrlForm{
  width: 60%;
  margin-left: 20%;
}

.about-content {
  padding-top: 10%;
  text-align: center;
}

.imprint-content {
  margin-left: 5%;
  margin-right: 5%;
}

#about-logo {
  padding-bottom: 3%;
  height: 125px;
}
