.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.s48 {
  width: 48px;
  height: 48px;
}

.user-name {
  margin-right: 24px;
}

.toolbar-item {
  opacity: 0.77;
}
