<div layout="column" flex layout-align="start center">
    <md-card style="width: 400px;">
      <md-card-content>
        <h2 ng-if="!login.registerToggled">Benutzer Login</h2>
        <h2 ng-if="login.registerToggled">Benutzer Registrieren</h2>
        <md-input-container>
          <label>Email</label>
          <input type="text" ng-model="login.loginCredentials.email">
        </md-input-container>
        <md-input-container>
          <label>Passwort</label>
          <input type="password" ng-model="login.loginCredentials.password">
        </md-input-container>
        <md-input-container ng-if="login.registerToggled">
          <label>Passwort wiederholen</label>
          <input type="password" ng-model="login.retypePassword">
        </md-input-container>
        <md-subheader ng-show="login.loginError" class="md-warn">
          <b>Error</b> - Falsche Username oder Passwort?!
        </md-subheader>
        <md-subheader ng-show="login.registerError" class="md-warn">
          <b>Error</b> - User existiert bereits!
        </md-subheader>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-if="!login.registerToggled" ng-click="login.registerToggle()">Registrieren</md-button>
        <md-button ng-if="!login.registerToggled" ng-click="login.login()">Login</md-button>
        <md-button ng-if="login.registerToggled" ng-click="login.registerToggle()">Abbrechen</md-button>
        <md-button ng-if="login.registerToggled" ng-click="login.register()">Registrieren</md-button>
      </div>
    </md-card>
</div>
