<md-dialog aria-label="Über" flex="50">
  <form layout="column">
    <div>
      <md-dialog-content>
        <div class="about-content">
          <img id="about-logo" src="images/logo-teal.png">
          <p>
            <!-- Versionsnummer auslesen? -->
            <b>Version: 0.9</b><br><br>
          </p>
          <p>
            Studienprojekt zu Software-Engineering 2<br>
            im Sommersemester 2015<br>
            Hochschule Rosenheim<br>
            Fakultät für Informatik<br><br>
          </p>
          <p>
            <b>Team loggr.io:</b><br>
            Marcel Pütz<br>
            Felix Itzenplitz<br>
            Jessica Zimpel<br>
            Marko Grgic<br>
            Andreas Schnebinger<br>
          </p>
          <p>
            <b>Betreuer:</b><br>
            Prof. Dr. Gerd Beneken<br>
          </p>
        </div>
      </md-dialog-content>
    </div>
    <div flex></div>
    <div class="md-actions" layout="row">
      <md-button ng-click="about.hide()" class="md-primary">
        Schliessen
      </md-button>
    </div>
  </form>
</md-dialog>
