<md-dialog aria-label="Ansicht konfigurieren" flex="50">
  <div>
    <md-dialog-content>
      <md-subheader>Ansicht konfigurieren</md-subheader>
      <!-- content of the dialog -->
      <div layout="row">
        <md-card flex>
          <md-card-content>
            <md-subheader class="md-primary">Angezeigte Sensoren</md-subheader>
            <md-list ng-sortable=configureView.inUseConfig>
              <md-list-item data-id="{{item.id}}" ng-mouseenter="configureView.showDelete=true" ng-mouseleave="configureView.showDelete=false" ng-repeat="item in configureView.sensorsInUse">
                <md-icon ng-if="item.iconType=='font'">{{item.icon}}</md-icon>
                <md-icon ng-if="item.iconType=='img'">
                  <img src="{{item.icon}}" class="sortable-list-icon">
                </md-icon>
                <p>{{item.name}}</p>
                <md-icon class=".ng-hide" ng-show="configureView.showDelete">clear</md-icon>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
        <md-card flex>
          <md-card-content>
            <md-subheader class="md-primary">Verfügbare Sensoren</md-subheader>
            <md-list ng-sortable="configureView.availableConfig">
              <md-list-item data-id="{{item.id}}" ng-repeat="item in configureView.sensorsAvailable">
                <md-icon ng-if="item.iconType=='font'">{{item.icon}}</md-icon>
                <md-icon ng-if="item.iconType=='img'">
                  <img src={{item.icon}} class="sortable-list-icon">
                </md-icon>
                <p>{{item.name}}</p>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
      <!-- end content of the dialog -->
    </md-dialog-content>
  </div>
  <div flex></div>
  <div class="md-actions" layout="row">
    <md-button ng-click="configureView.submit()" class="md-primary">
      Speichern
    </md-button>
    <md-button ng-click="configureView.cancel()" class="md-primary">
      Abbrechen
    </md-button>
  </div>
</md-dialog>
