<md-dialog aria-label="Ansicht konfigurieren" flex="50" class="dialog">
  <form class="dialog" layout="column">
    <div>
      <md-dialog-content>
        <md-subheader>Ansicht konfigurieren</md-subheader>
        <div>
          <!-- content -->
        </div>
      </md-dialog-content>
    </div>
    <div flex></div>
    <div class="md-actions" layout="row">
      <md-button ng-click="answer('save')" class="md-primary">
        Speichern
      </md-button>
      <md-button ng-click="answer('cancel')" class="md-primary">
        Abbrechen
      </md-button>
    </div>
  </form>
</md-dialog>
