<md-dialog aria-label="Impressum" flex="85">
  <md-dialog-content layout="row">
    <div flex="5"></div>
    <div flex="90">
      <h2 class="md-display-1">Impressum</h2>
      <p class="md-subhead">Angaben gem&auml;&szlig; &sect; 5 TMG:</p>
      <div layout="row" layout-align="center center">
        <div>
          <p class="md-body-1">loggr.io<br/>
            Hochschulstra&szlig;e 1<br/>
            83024 Rosenheim<br/>
          </p>
        </div>
        <div flex></div>
        <div>
          <h3 class="md-subhead">Vertreten durch</h3>
          <p class="md-body-1">Max Mustermann</p><br> <!-- TODO Zuständigkeit klären -->
        </div>
        <div flex></div>
        <div>
          <h3 class="md-subhead">Kontakt</h3>
          <p class="md-body-1">
            E-Mail: <a href="mailto:loggrio@loggrio.de">loggrio@loggrio.de</a><br/> <!-- TODO fäx mail besorgen -->
            Internetadresse: <a href="http://loggr.stkn.org" target="_blank">http://loggr.stkn.org</a><br/>
          </p>
        </div>
      </div>
      <h3 class="md-title">Haftungsausschluss</h3>
      <b class="md-subhead">Haftung f&uuml;r Inhalte</b>
      <p class="md-caption">
        Die Inhalte unserer Seiten wurden mit gr&ouml;&szlig;ter Sorgfalt erstellt. F&uuml;r die Richtigkeit,
        Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch keine Gew&auml;hr &uuml;bernehmen.
        Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten
        nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter
        jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen oder
        nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen. Verpflichtungen zur
        Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
        unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
        konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir
        diese Inhalte umgehend entfernen.
      </p><br/>
      <b class="md-subhead">Urheberrecht</b>
      <p class="md-caption">
        Die durch die Seitenbetreiber erstellten bzw. verwendeten Inhalte und Werke auf diesen Seiten unterliegen
        dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung
        au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der Zustimmung des jeweiligen Autors bzw.
        Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch
        gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
        Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf
        eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
      </p>
    </div>
    <div flex="5"></div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="imprint.hide()" class="md-primary">
      Schliessen
    </md-button>
  </div>
</md-dialog>
