<md-dialog aria-label="Pairing" flex="30">
  <form name="pairingForm" ng-submit="pairing.startPairing()">
    <md-dialog-content>
      <md-subheader><md-icon>settings_ethernet</md-icon>&nbsp;Raspberry Pi pairen</md-subheader>
      <md-input-container class="md-icon-float">
        <label>IP-Adresse des Raspberry Pi</label>
        <md-icon>pin_drop</md-icon>
        <input name="address" required md-maxlength="15" ng-model="pairing.raspiAddress"
            ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/">
        <div ng-messages="pairingForm.address.$error">
          <div ng-message="required">Pflichtfeld.</div>
          <div ng-message="md-maxlength">Die IP-Adresse darf nicht länger als 15 Zeichen sein.</div>
          <div ng-message="pattern">Keine gültige IP-Adresse.</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" class="md-primary">
        Pairen
      </md-button>
      <md-button type="button" ng-click="pairing.cancel()" class="md-primary">
        Abbrechen
      </md-button>
    </div>
  </form>
</md-dialog>
