<md-dialog aria-label="Token" flex="50">
  <form layout="column">
    <div>
      <md-dialog-content>
        <md-subheader>Token generieren</md-subheader>
        <div>
          <!-- content -->
        </div>
      </md-dialog-content>
    </div>
    <div flex></div>
    <div class="md-actions" layout="row">
      <md-button ng-click="token.submit()" class="md-primary">
        Generieren
      </md-button>
      <md-button ng-click="token.cancel()" class="md-primary">
        Schliessen
      </md-button>
    </div>
  </form>
</md-dialog>
