<md-dialog aria-label="UserControl" flex="50">
  <form name="userForm" layout="column" layout-align="center">
    <div class="userCtrlForm">
      <md-dialog-content>
          <h1>Benutzerverwaltung</h1>
        <div>
          <md-input-container class="md-icon-float">
            <label>Name</label>
            <md-icon>face</md-icon>
            <input name="name" required md-maxlength="120" ng-model="userControl.userData.name">
            <div ng-messages="userForm.name.$error">
              <div ng-message="required">Pflichtfeld.</div>
              <div ng-message="md-maxlength">Der Name darf nicht länger als 120 Zeichen sein.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float">
            <label>Email</label>
            <md-icon>email</md-icon>
            <input name="mail" required md-maxlength="120" ng-model="userControl.userData.mail"
                   type="email" required maxlength="120" >
            <div ng-messages="userForm.mail.$error">
              <div ng-message="required">Pflichtfeld.</div>
              <div ng-message="md-maxlength">Die E-Mail Adresse darf nicht länger als 120 Zeichen sein.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float">
            <label>Standord</label>
            <md-icon>pin_drop</md-icon>
            <input ng-model="userControl.userData.location" required maxlength="120">
          </md-input-container>
          <md-input-container class="md-icon-float">
            <md-icon ng-hide="userControl.passChanging">lock</md-icon>
            <md-icon ng-show="userControl.passChanging">lock_open</md-icon>
            <label ng-hide="userControl.passChanging">Passwort</label>
            <label ng-show="userControl.passChanging">Altes Passwort</label>
            <input id="oldPw" type="password" required
                   name="userData.oldPW" ng-click="userControl.changingPassword(userData.$dirty)"
                   ng-change="userControl.changingPassword()" ng-model="userControl.userData.password">
            <div ng-messages="userForm.oldPW.$error">
              <div ng-message="required">Bitte geben Sie das alte Passwort ein.</div>
            </div>
          </md-input-container>
          <md-input-container class="userCtrlInput" ng-show="userControl.passChanging">
            <label>Neues Passwort</label>
            <md-icon>lock_outline</md-icon>
            <input id="newPass" name="newPass" type="password" required maxlength="80"
                  ng-model="newPass">
            <div ng-messages="userForm.newPass.$error">
              <div ng-message="required">Pflichtfeld.</div>
              <div ng-message="md-maxlength">Das Passwort darf nicht länger als 80 Zeichen sein.</div>
            </div>
          </md-input-container>
          <md-input-container class="userCtrlInput" ng-show="userControl.passChanging">
            <label>Neues Passwort wiederholen</label>
            <md-icon>lock</md-icon>
            <input id="confirmPass" name="passConfirm" required maxlength="80"
            match-to="userForm.newPass" type="password" ng-model="confirmPass">
            <div ng-messages="userForm.passConfirm.$error">
              <div ng-message="required">Pflichtfeld.</div>
              <div ng-message="md-maxlength">Das Passwort darf nicht länger als 80 Zeichen sein.</div>
              <div ng-message="match-to">Die Passwörter stimmen nicht überein.</div>
            </div>
          </md-input-container>
        </div>
      </md-dialog-content>
    </div>
    <div flex></div>
    <div class="md-actions" layout="row">
      <md-button ng-disabled="userControl.formInvalid" ng-click="userControl.submit()" class="md-primary">
        Speichern
      </md-button>
      <md-button ng-click="userControl.cancel()" class="md-primary">
        Abbrechen
      </md-button>
    </div>
  </form>
</md-dialog>
