<md-dialog aria-label="UserControl" flex="50">
  <form name="userForm" class="userCtrlForm" layout="column" layout-align="center" ng-submit="userControl.submit()">
    <md-dialog-content>
      <h2>Benutzerverwaltung</h2>
      <md-input-container class="md-icon-float">
        <label>Name</label>
        <md-icon>face</md-icon>
        <input name="name" required md-maxlength="120" ng-model="userControl.customer.username">
        <div ng-messages="userForm.name.$error">
          <div ng-message="required">Pflichtfeld.</div>
          <div ng-message="md-maxlength">Der Name darf nicht länger als 120 Zeichen sein.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float">
        <label>Email</label>
        <md-icon>email</md-icon>
        <input name="mail" required md-maxlength="120" ng-model="userControl.customer.email" type="email">
        <div ng-messages="userForm.mail.$error">
          <div ng-message="required">Pflichtfeld.</div>
          <div ng-message="md-maxlength">Die E-Mail Adresse darf nicht länger als 120 Zeichen sein.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float">
        <label ng-hide="userControl.passChanging">Passwort</label>
        <label ng-show="userControl.passChanging">Altes Passwort</label>
        <md-icon ng-hide="userControl.passChanging">lock</md-icon>
        <md-icon ng-show="userControl.passChanging">lock_open</md-icon>
        <input name="currentPass" required ng-click="userControl.startChangingPassword()"
              type="password" ng-change="userControl.checkOldCred()" ng-model="userControl.oldPass">
        <div ng-messages="userForm.currentPass.$error">
          <div ng-message="required">Bitte geben Sie das alte Passwort ein.</div>
          <div ng-message="matchTo">Stimmt nicht mit dem alten Passwort überein.</div>
        </div>
      </md-input-container>
      <div ng-show="userControl.passChanging">
        <md-input-container>
          <label>Neues Passwort</label>
          <md-icon>lock_outline</md-icon>
          <input name="newPass" type="password" required md-maxlength="80" ng-model="userControl.newPass">
          <div ng-messages="userForm.newPass.$error">
            <div ng-message="required">Bitte geben Sie das neue Passwort ein.</div>
            <div ng-message="md-maxlength">Das Passwort darf nicht länger als 80 Zeichen sein.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Neues Passwort wiederholen</label>
          <md-icon>lock</md-icon>
          <input name="repeatPass" type="password" required md-maxlength="80" ng-model="userControl.customer.password"
                 match-to="userControl.newPass" ng-change="userControl.checkNewCred()">
          <div ng-messages="userForm.repeatPass.$error">
            <div ng-message="required">Bitte wiederholen Sie das neue Passwort.</div>
            <div ng-message="md-maxlength">Das Passwort darf nicht länger als 80 Zeichen sein.</div>
            <div ng-message="matchTo">Die Passwörter stimmen nicht überein.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <div flex></div>
    <div class="md-actions" layout="row">
      <md-button type="submit" ng-disabled="userControl.formInvalid" class="md-primary">
        Speichern
      </md-button>
      <md-button ng-click="userControl.cancel()" class="md-primary">
        Abbrechen
      </md-button>
    </div>
  </form>
</md-dialog>
